* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-image: url(fondo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.active {
  border-bottom: 4px solid #5584ff !important;
}

header,
.dropdown-menu,
.card-header {
  background-color: #e3f2fd;
}

.card {
  background-color: #e3f2fde7;
}

footer {
  background-color: #a6bed1;
}
