* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-image: url(fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: rgb(54, 53, 53);
    font-weight: bolder;
}

input[type=text],
input[type=password],
input[type=email]  {
    padding: 10px;
    width: 380px;
}

input[type="submit"] {
    border: 0;
    background-color: #ED8824;
    padding: 10px 20px;
}


.header {
    width: 100%;
    height: 80px;
    padding: 10px;
    background: #fff;
    display: flex;
    position: relative;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.logo-title {
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
}

.logo-title img {
    width: 210px;
    height: 50px;
    /*margin-top: -130px;
    margin-left: -130px;*/
}


.menu {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
}

.menu li {
    list-style: none;
    padding: 30px;
    padding-bottom: 27px;
    font-weight: 300;
}

.menu li:hover {
    border-bottom: 4px solid #fff;
    cursor: pointer;
}

.active {
    border-bottom: 4px solid #5584FF;
}

.form {
    width: 100%;
}

.form .welcome-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form .welcome-form h1 {
    font-weight: 300;
    font-size: 30px;
    color: #898989;
}

.line-input {
    max-width: 350px;
    display: flex;
    border-bottom: 1px solid #efefef;
    margin: auto;
    margin-top: 40px;
    padding: 6px;
    position: relative;
}

.line-input input {
    border-style: none;
    outline: 0px;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
}

.line-input label {
    font-size: 20px;
    position: relative;
    top: 5px;
    color: #0076ff;
    font-weight: bold;
}

.form button {
    width: 300px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
    color: white;
    background: #5584FF;
    border-style: none;
    outline: 0px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover {
    opacity: .9;
}

.form button label {
    position: relative;
    left: 50px;
    font-size: 10px;
    cursor: pointer;
}